{% extends 'RgouBootstrapBundle::base.html.twig' %}

{% block head_stylesheets %}
    {% stylesheets
    'bundles/rgoubootstrap/bootstrap/css/bootstrap.min.css'
    'bundles/rgoubootstrap/font-awesome/css/font-awesome.min.css'
    'bundles/rgoubootstrap/css/main.css'
    output='css/compiled.css'
    filter='cssrewrite' 
    filter='yui_css' 
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{#
    'bundles/rgoubootstrap/fuelux/css/fuelux.min.css'
    'bundles/rgoubootstrap/fuelux/css/fuelux-responsive.min.css'
#}
{% endblock head_stylesheets %}

{% block head_javascripts %}
{# Additional Javascripts on head #}
{% endblock head_javascripts %}

{# Top Navigation Bar #}
{% block navbar_top %}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="{{ container_class }}">
            
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>            
            
            <a class="brand" href="#">Rgou</a>
            
            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse collapse">
                {{ knp_menu_render('samplemain') }}
                {{ knp_menu_render('sampleuser') }}
            </div>            
            
        </div>
    </div>
</div> 
{% endblock navbar_top %}

{% block footer_javascripts %}
    {% javascripts
        'bundles/rgoubootstrap/js/jquery-1.10.2.js'
        'bundles/rgoubootstrap/bootstrap/js/bootstrap.js'
        'bundles/rgoubootstrap/js/underscore.js'
        'bundles/rgoubootstrap/bootstrap-plugins/typeahead/typeahead.js'
        'bundles/rgoubootstrap/js/jquery.localScroll.js'
        'bundles/rgoubootstrap/js/jquery.scrollTo.js'
        'bundles/rgoubootstrap/js/main.js'
        filter='yui_js' 
        output='js/compiled.js'
    %}
{#
        'bundles/rgoubootstrap/fuelux/loader.min.js'
        <script type="text/javascript" src="{{ asset('bundles/rgoubootstrap/bootstrap-plugins/fuelux/loader.js') }}"></script>
#}
        <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock footer_javascripts %}     

