{{ "{% form_theme edit_form 'RgouBootstrapBundle:Form:widgets.html.twig' %}" }}

{{ "{% extends '" ~ rgou_bootstrap.template ~ "' %}" }}

{{ "{% block headline %}" }}
{{ "{{ '" ~ entity ~ "' }} {{ 'edit'|trans({},'rgoubootstrap') }}" }}
<small> {{ "{{ 'or'|trans({},'rgoubootstrap') }}" }}
    <a title="{{ "{{ 'Back to the list'|trans({},'rgoubootstrap') }}" }}" class="btn btn-small" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
       <i class="icon-th-list icon-white"></i> {{ "{{ 'Back to the list'|trans({},'rgoubootstrap') }}" }}
    </a>
</small>
{{ '{% endblock headline %}' }}

{{ "{% block content %}" }}

<form class="form-horizontal" action="{{ "{{ path('"~ route_name_prefix ~"_update', { 'id': record.id }) }}" }}" method="post" {{ "{{ form_enctype(edit_form) }}" }}>

    {{ "{{ form_widget(edit_form) }}" }}
    

{% set hide_edit, hide_save, hide_save_add, hide_delete = true, false, true, false %}
{% include 'views/others/record_actions.html.twig.twig' %}
{% if ('delete' in actions) and (not hide_delete) %}
{% include 'views/others/delete_form.html.twig.twig' %}
{% endif %}

</form>

{{ "{% endblock %}" }}

{% if ('delete' in actions) and (not hide_delete) %}
{% include 'views/others/delete_javascript.html.twig.twig' %}
{% endif %}
