{{ "{% extends '" ~ rgou_bootstrap.template ~ "' %}" }}

{{ "{% block headline %}" }}
{{ "{% if isSearchActive %}" }}

    <div class="pull-right col-md-4 form-group">
        <input class="form-control" placeholder="{{ "{{ 'search'|trans({},'rgoubootstrap') }}" }}"  id="{{ route_name_prefix }}_search_input" autocomplete="off" data-provide="typeahead"/>
    </div>
{{ "{% endif %}" }}

    {{ entity }} {{ "{{ 'list'|trans({},'rgoubootstrap') }}" }}
    {% if 'new' in actions %}
    <small> 
        {{ "({% transchoice pagination.totalItemCount with {'%count%': pagination.totalItemCount} from 'rgoubootstrap' %}{0}no records|{1}1 record|]1,Inf]%count% records{% endtranschoice %}" }})
        {{ "{{ 'or'|trans({},'rgoubootstrap') }}" }}
        <a title="{{ "{{ 'New'|trans({},'rgoubootstrap') }}" }}" class="btn btn-default btn-default btn-xs" href="{{ "{{ path('" ~ route_name_prefix ~ "_new') }}" }}">
        <i class="icon-plus icon-white"></i> {{ "{{ 'New'|trans({},'rgoubootstrap') }}" }}
        </a>
    </small>
    {% endif %}
{{ '{% endblock headline %}' }}

{{ "{% block content %}" }}

<table class="records_list table table-bordered table-condensed table-striped">
    <thead>
        <tr>
        {%- for field, metadata in fields %}

            <th>{{ "{{ '" ~ field|titleize ~ "'|trans }}" }}</th>

        {%- endfor %}

            <th>{{ "{{ 'Actions'|trans({},'rgoubootstrap') }}" }}</th>
        </tr>
    </thead>
    <tbody>
    {{ '{% for record in pagination %}' }}
        <tr>

    {%- for field, metadata in fields %}
        {%- if loop.first and ('show' in actions) %}

            <td><a href="{{ "{{ path('" ~ route_name_prefix ~ "_show', { 'id': record.id }) }}" }}">{{ '{{ record.' ~ field|replace({'_': ''}) ~ ' }}' }}</a></td>

        {%- elseif metadata.type in ['datetimetz', 'datetime'] %}

            <td>{{ '{% if record.' ~ field|camelize ~ ' %}{{ record.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'date' %}

            <td>{{ '{% if record.' ~ field|camelize ~ ' %}{{ record.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'time' %}

            <td>{{ '{% if record.' ~ field|camelize ~ ' %}{{ record.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'boolean' %}

            <td><i class="{{ '{{ record.' ~ field|camelize ~ ' ? \'icon-check\' : \'\' }}' }}"></i></td>

        {%- else %}

            <td>{{ '{{ record.' ~ field|camelize ~ ' }}' }}</td>

        {%- endif %}

        {%- if loop.last %}

            <td>
                {%- include "views/others/actions.html.twig.twig" %}
            </td>

        {%- endif %}
    {%- endfor %}

        </tr>
    {{ '{% endfor %}' }}
    </tbody>
</table>

{# display navigation #}
<div class="navigation">
    {{ "{{ knp_pagination_render(pagination) }}" }}
</div>

{{ "{% endblock content %}" }}

{{ "{% block javascripts %}" }}
{{ "{{ parent() }}" }}
{{ "{% if isSearchActive %}" }}
<script type="text/javascript">
$(function(){
    $( "#{{ route_name_prefix }}_search_input" ).typeahead({
        name: '{{ route_name_prefix }}s',
        remote: '{{ "{{ path('" ~ route_name_prefix ~ "_search') }}" }}' + '?q=%QUERY',
        valueKey: 'label',
        template: ['{{ "{{ searchResultTemplate | raw }}" }}',].join(''),
        engine: _,
        minLength: 3,
    }).on('typeahead:selected', function(event, datum) {
        path = '{{ "{{ path('" ~ route_name_prefix ~"_show', {'id': '-id-'}) }}" }}';
        path = path.replace('-id-', datum.id);
        window.location.href= path;
    });
});
</script>
{{ "{% endif %}" }}
{{ "{% endblock javascripts %}" }}