{{ "{% form_theme form 'RgouBootstrapBundle:Form:widgets.html.twig' %}" }}

{{ "{% extends '" ~ rgou_bootstrap.template ~ "' %}" }}

{{ '{% block headline %}' }}{{ "{{ '" ~ entity ~ "'|trans }} {{ 'creation'|trans }}" }}{{ '{% endblock headline %}' }}

{{ "{% block content %}" }}

<form class="form-horizontal" action="{{ "{{ path('"~ route_name_prefix ~"_create') }}" }}" method="post" {{ "{{ form_enctype(form) }}" }}>
    {{ "{{ form_widget(form) }}" }}

{% set hide_edit, hide_save, hide_save_add, hide_delete = true, false, false, true %}
{% include 'views/others/record_actions.html.twig.twig' %}

</form>

{{ "{% endblock %}" }}