{{ "{% extends '" ~ rgou_bootstrap.template ~ "' %}" }}

{{ "{% block headline %}" }}
{{ "{{ '%entity% show'|trans({'%entity%': '" ~ entity ~ "'},'rgoubootstrap') }}" }}
<small> {{ "{{ 'or'|trans({},'rgoubootstrap') }}" }}
    <a title="{{ "{{ 'Back to the list'|trans({},'rgoubootstrap') }}" }}" class="btn btn-small" href="{{ "{{ path('"~ route_name_prefix ~"') }}" }}">
       <i class="icon-th-list icon-white"></i> {{ "{{ 'Back to the list'|trans({},'rgoubootstrap') }}" }}
    </a>
</small>
{{ '{% endblock headline %}' }}

{{ "{% block content %}" }}

<table class="record_properties table table-bordered table-condensed table-striped">
    <tbody>
    {%- for field, metadata in fields %}

        <tr>
            <th>{{ field|capitalize }}</th>

        {%- if metadata.type in ['datetimetz', 'datetime'] %}

            <td>{{ '{% if record.'~ field|replace({'_': ''}) ~' %}{{ record.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'date' %}

            <td>{{ '{% if record.'~ field|replace({'_': ''}) ~' %}{{ record.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'time' %}

            <td>{{ '{% if record.'~ field|replace({'_': ''}) ~' %}{{ record.'~ field|replace({'_': ''}) ~'|date(\'H:i:s\') }}{% endif %}' }}</td>

        {%- elseif metadata.type == 'boolean' %}

            <td><i class="{{ '{{ record.'~ field|replace({'_': ''}) ~' ? \'icon-check\' : \'\' }}' }}"></i></td>

        {%- else %}

            <td>{{ '{{ record.'~ field|replace({'_': ''}) ~' }}' }}</td>

        {%- endif %}

        </tr>

    {%- endfor %}

    </tbody>
</table>

{% set hide_edit, hide_save, hide_save_add, hide_delete = false, true, true, false %}
{% include 'views/others/record_actions.html.twig.twig' %}
{% if ('delete' in actions) and (not hide_delete) %}
{% include 'views/others/delete_form.html.twig.twig' %}
{% endif %}

{{ "{% endblock %}" }}