{{ "{% extends '" ~ rgou_bootstrap.template ~ "' %}" }}

{{ "{% block headline %}" }}
{{ "{{ '" ~ entity ~ "' }} {{ 'list'|trans({},'rgoubootstrap') }}" }}
    {% if 'new' in actions %}
    <small> 
        {% if not 'grid' in actions %}
            {{ "({% transchoice pagination.totalItemCount with {'%count%': pagination.totalItemCount} from 'rgoubootstrap' %}{0}no records|{1}record|]1,Inf]%count% records{% endtranschoice %})" }}
        {% endif %}
        {{ "{{ 'or'|trans({},'rgoubootstrap') }}" }}
        <a title="{{ "{{ 'New'|trans({},'rgoubootstrap') }}" }}" class="btn btn-small" href="{{ "{{ path('"~ route_name_prefix ~"_new') }}" }}">
        <i class="icon-plus icon-white"></i> {{ "{{ 'New'|trans({},'rgoubootstrap') }}" }}
        </a>
    </small>
    {% endif %}
{{ '{% endblock headline %}' }}

{{ "{% block content %}" }}

    {% if 'grid' in actions %}
        {% include 'views/others/grid.html.twig.twig' %}
    {% else %}
        {% include 'views/others/list.html.twig.twig' %}
    {% endif %}

{{ "{% endblock %}" }}

{% if ('grid' in actions) %}
{% include 'views/others/grid_javascript.html.twig.twig' %}
{% endif %}